<div class="container main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Liste des bars</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content">
                        <div>
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                                <thead class="text-danger">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <th>Adresse</th>
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        <th>Pays</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!isFetchingData">
                                    <tr *ngFor="let bar of bars">
                                        <td>{{bar.id}}</td>
                                        <td>{{bar.name}}</td>
                                        <td>{{bar.address}}</td>
                                        <td>{{bar.postCode}}</td>
                                        <td>{{bar.city}}</td>
                                        <td>{{bar.country}}</td>
                                        <td class="td-actions text-right">
                                            <div class="row">
                                                <button type="button" title="Modifier" class="btn btn-primary btn-xs" (click)="showDetails(bar.id)">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" title="Modifier les Horaires" class="btn btn-info btn-xs" (click)="barOpeningTime.showModal(bar.id)">
                                                    <i class="material-icons">schedule</i>
                                                </button>
                                                <button type="button" title="Modifier les Happy Hours" class="btn btn-info btn-xs" (click)="barHappyHours.showModal(bar.id)">
                                                    <i class="material-icons">local_bar</i>
                                                </button>
                                                <button type="butto n" title="Supprimer ce bar" class="btn btn-danger btn-xs" (click)="deleteBar(bar.id)">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="isFetchingData">
                                    <tr>
                                        <td colspan="4">
                                            Chargement en cours...
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<barOpeningTimeModal #barOpeningTime (parentEvent)="ngOnInit()"></barOpeningTimeModal>
<barHappyHoursModal #barHappyHours (parentEvent)="ngOnInit()"></barHappyHoursModal>
