<div class="container main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Liste des commentaires</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                            <thead class="text-danger">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>ID Bar</th>
                                    <th>Nom du Bar</th>
                                    <th>ID User</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Note</th>
                                    <th>Date de création</th>
                                    <th>Actions</th>
                                    <th>Commentaire</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let comment of comments">
                                    <td>
                                        <i *ngIf="comment.validated" class="material-icons icon-green">lens</i>
                                        <i *ngIf="!comment.validated" class="material-icons icon-red">lens</i>
                                    </td>
                                    <td>{{comment.id}}</td>
                                    <td>{{comment.id_bar}}</td>
                                    <td>{{comment.bar_name}}</td>
                                    <td>{{comment.id_user}}</td>
                                    <td>{{comment.user_name}}</td>
                                    <td>{{comment.note}}</td>
                                    <td>{{comment.date_posted}}</td>
                                    <td class="td-actions text-right">
                                        <button *ngIf="comment.validated" type="button" title="Supprimer" class="btn btn-danger btn-xs" (click)="deleteComment(comment.id)">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <button *ngIf="!comment.validated" type="button" title="Valider" class="btn btn-success btn-xs" (click)="validateComment(comment.id)">
                                            <i class="material-icons">done</i>
                                        </button>
                                    </td>
                                    <td class="none">{{comment.commentaire}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
