<!--Footer-->
<footer class="page-footer mdb-color center-on-small-only">
    <!--Footer Liens-->
    <div class="container">
        <div class="row">
            <!--1ere colone-->
            <div class="col-md-4 offset-md-1">
                <h5 class="title">Bar'ez-Vous!</h5>
                <p>A la recherche d'un bar ? Envie d'organiser un barathon ? Nous sommes là.</p>
            </div>
            <hr class="hidden-md-up">
            <!--2eme colone-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">NOS SERVICES</h5>
                <ul>
                    <li><a href="#!">Application mobile</a></li>
                    <li><a [routerLink]="['listeBar']">Trouver un bar</a></li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <!--3eme colone-->
            <div class="col-md-2">
                <h5 class="title">Liens</h5>
                <ul>
                    <li><a href="#!">Mentions Légales</a></li>
                    <li><a href="#!">CGU</a></li>
                </ul>
            </div>
           
        </div>
    </div>
    <hr>
    <!--Call to action-->
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Inscrivez-vous gratuitement</h5>
            </li>
            <li><a class="btn btn-danger waves-light" mdbRippleRadius (click)="registerModal.showModal()">Inscription</a></li>
        </ul>
    </div>
    <!--/.Call to action-->
    <hr>
    <!--Social buttons A ACTIVER QUAND LES PROFILS RESEAUX SOCIAUX SERONT FAIT
    <div class="text-center mb-3">

        <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
        <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
        <a class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>

    </div>-->
    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: <a href="#"> Bar'ez-Vous! </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->
<registerModal #registerModal></registerModal>
