<div class="container main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Liste des utilisateurs</h4>
                        <p class="category"></p>
                    </div>
                    <div class="card-content">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
                            <thead class="text-danger">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Roles</th>
                                    <th>Dernière connexion</th>
                                    <th>Date de création</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>
                                        <i *ngIf="user.isEnabled" class="material-icons icon-green">lens</i>
                                        <i *ngIf="!user.isEnabled" class="material-icons icon-red">lens</i>
                                    </td>
                                    <td>{{user.id}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.roles}}</td>
                                    <td>{{user.lastLogin}}</td>
                                    <td>{{user.dateCreated}}</td>
                                    <td class="td-actions text-right">
                                        <button type="button" title="Modifier" class="btn btn-primary btn-xs" (click)="userDetails.showModal(user.id)">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button *ngIf="user.isEnabled && user.id!=currentUser.id" type="button" title="Désactiver" class="btn btn-danger btn-xs" (click)="deactivateUser(user.id)">
                                            <i class="material-icons">close</i>
                                        </button>
                                        <button *ngIf="!user.isEnabled && user.id!=currentUser.id" type="button" title="Activer" class="btn btn-success btn-xs" (click)="activateUser(user.id)">
                                            <i class="material-icons">done</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<userDetailsModal #userDetails (parentEvent)="ngOnInit()"></userDetailsModal>
