<!-- Barre de recherche -->
<div class="container main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Recherche</h4>
          </div>
          <div class="card-content table-responsive">
            <div class="md-form form-md">
              <i class="fa fa-search prefix"></i>
              <input type="text" [(ngModel)]="term" class="form-control-searchbar">
            </div>
            <div *ngFor="let bar of bars | filter:term, index as i">
              <div *ngIf="i<10 && term">
                <a routerLink="../bar/{{bar.id}}">{{bar.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- Maps -->
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Carte</h4>
          </div>
          <div class="card-content table-responsive">
            <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="11">
              <agm-marker [iconUrl]="iconMapBV" *ngFor="let bar of listeBars" [routerLink]="['/']" [latitude]="ConvertStringToNumber(bar.latitude)"
                [longitude]="ConvertStringToNumber(bar.longitude)">
                <agm-info-window>
                  <strong>{{bar.name}}</strong>
                  <br>
                  <!-- Lien vers la page du bar -->
                  <a routerLink="../bar/{{bar.id}}">En savoir plus</a>
                  <br>
                  <!-- Lien vers gmaps -->
                  <a href="https://www.google.com/maps/search/?api=1&query={{bar.latitude}},{{bar.longitude}}">Ouvrir dans Maps</a>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Bar les plus proches -->
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Les bars les plus proches</h4>
          </div>
          <div class="card-content table-responsive">
            <div class="row">
              <div class="col-md-12" *ngFor="let bar of listeBars, index as i">
                <div *ngIf="i<4">
                  <div class="card">
                    <div class="card-content">
                      <div class="card-header-red">
                        <h4 class="card-heading">
                          <!-- Lien vers la page du bar -->
                          <a routerLink="../bar/{{bar.id}}">
                            {{bar.name}}
                            <!-- Note a afficher dans la carte -->
                            <div *ngIf="bar.note">
                              <input class="star star-5" id="star-moy-5" type="radio" name="star-moy" [checked]="bar.note == 5" disabled />
                              <label class="star star-5" for="star-moy-5"></label>
                              <input class="star star-4" id="star-moy-4" type="radio" name="star-moy" [checked]="4 <= bar.note && bar.note < 5" disabled/>
                              <label class="star star-4" for="star-moy-4"></label>
                              <input class="star star-3" id="star-moy-3" type="radio" name="star-moy" [checked]="3 <= bar.note && bar.note < 4" disabled/>
                              <label class="star star-3" for="star-moy-3"></label>
                              <input class="star star-2" id="star-moy-2" type="radio" name="star-moy" [checked]="2 <= bar.note && bar.note < 3" disabled/>
                              <label class="star star-2" for="star-moy-2"></label>
                              <input class="star star-1" id="star-moy-1" type="radio" name="star-moy" [checked]="bar.note <= 2" disabled/>
                              <label class="star star-1" for="star-moy-1"></label>
                            </div>
                          </a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>