<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar BarezVousColor">
    <!-- Navbar brand -->
    <logo>
        <img [routerLink]="['/']" src='assets/img/LogoBarezVous.png' width="50" height="50">
        <a class="navbar-brand" href="#">Bar'ez-Vous!</a>
    </logo>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin']">Accueil Administration<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin/bars']">Bar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin/users']">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin/comments']">Commentaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/admin/validation']">Validation</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/']">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius (click)="logout()">Deconnexion</a>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
