<!-- Style composant upload -->
<link rel="stylesheet" href="https://www.telerik.com/kendo-angular-ui/npm/node_modules//@progress/kendo-theme-default/dist/all.css" />

<div class="container main-content" *ngIf="user">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Carte modification profil -->
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Modifier votre profil</h4>
          </div>
          <div>
            <br>
            <div class="row">
              <div class="md-form form-sm col-md-6">
                <i class="fa fa-user prefix"></i>
                <input mdbActive type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="user.firstName" #firstName="ngModel"
                  mdbActive />
                <label for="firstName" [class.active]="firstName.value">Prénom</label>
              </div>
              <div class="md-form form-sm col-md-6">
                <i class="fa fa-user prefix"></i>
                <input mdbActive type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="user.lastName" #lastName="ngModel"
                  mdbActive />
                <label for="lastName" [class.active]="lastName.value">Nom</label>
              </div>
            </div>
            <div class="row">
              <div class="md-form form-sm col-md-6">
                <i class="fa fa-envelope prefix"></i>
                <input mdbActive type="text" id="email" name="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" mdbActive
                />
                <label for="email" [class.active]="email.value">Email</label>
              </div>
              <div class="md-form form-sm col-md-6">
                <i class="fa fa-envelope prefix"></i>
                <input mdbActive type="text" id="emailconf" name="emailconf" class="form-control" [(ngModel)]="user.email_confirmation" #emailconf="ngModel"
                  mdbActive />
                <label for="emailconf" [class.active]="emailconf.value">Confirmation de l'email</label>
              </div>
            </div>
            <div class="md-form form-sm">
              <i class="fa fa-user prefix"></i>
              <input mdbActive type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username" #username="ngModel"
                mdbActive />
              <label for="username" [class.active]="username.value">Nom d'utilisateur</label>
            </div>
          </div>
        </div>
        <!-- Carte modification mot de passe -->
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Modifier votre mot de passe</h4>
          </div>
          <div>
            <br>
            <div class="row">
              <div class="md-form form-sm col-md-6">
                <i class="fa fa-lock prefix"></i>
                <input mdbActive type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password" #password="ngModel"
                  mdbActive />
                <label for="password" [class.active]="password.value">Nouveau mot de passe</label>
              </div>
              <div class="md-form form-sm col-md-6">
                <i class="fa fa-lock prefix"></i>
                <input mdbActive type="password" id="passwordconf" name="passwordconf" class="form-control" [(ngModel)]="user.password_confirmation"
                  #passwordconf="ngModel" mdbActive />
                <label for="passwordconf" [class.active]="passwordconf.value">Confirmation du mot de passe</label>
              </div>
            </div>
          </div>
        </div>
        <!-- Carte modification photo de profil (TODO) -->
        <!-- <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Votre photo de profil</h4>
          </div>
          <div>
            <kendo-upload
            [saveUrl]="uploadSaveUrl"
            [removeUrl]="uploadRemoveUrl">
          </kendo-upload>
          </div>
        </div> -->
        <!-- Carte validation des modifications avec verif mdp -->
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Valider les modifications</h4>
          </div>
          <div>
            <br>
            <div class="md-form form-sm">
              <i class="fa fa-lock prefix"></i>
              <input autocomplete="off" mdbActive type="password" id="currentpassword" name="currentpassword" class="form-control" [(ngModel)]="user.current_password"
                #currentpassword="ngModel" mdbActive />
              <label for="currentpassword" [class.active]="currentpassword.value">Afin de valider vos modifications, merci de renseigner votre mot de passe</label>
            </div>
            <!-- Envoie Formulaire -->
            <div class="form-group text-center">
              <button class="btn btn-lg green" (click)="updateProfil()">Appliquer les modifications</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
