<div *ngIf="!isAdminPage">
  <navbar></navbar>
  <div class="AppContainer">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
<div *ngIf="isAdminPage">
  <admin-navbar></admin-navbar>
  <div class="AppContainer">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
