<div class="container main-content">
    <div class="container-fluid">
        <form (ngSubmit)="barForm.form.valid && saveBar()" #barForm="ngForm" novalidate>
            <!--Content-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title"><i class="fa fa-bar"></i>Coordonnées</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <div class="row">
                                <div class="md-form col-md-12">
                                  <div class="form-group">
                                    <input placeholder="Rechercher une adresse" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                                  </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <i class="fa fa-map-marker prefix"></i>
                                    <input mdbActive type="text" id="latitude" name="latitude" class="form-control" [(ngModel)]="bar.latitude" #latitude="ngModel" mdbActive />
                                    <label for="latitude" [class.active]="latitude.value">Latitude</label>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-map-marker prefix"></i>
                                    <input mdbActive type="text" id="longitude" name="longitude" class="form-control" [(ngModel)]="bar.longitude" #longitude="ngModel" mdbActive />
                                    <label for="longitude" [class.active]="longitude.value">Longitude</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <agm-map
                                        [latitude]="ConvertStringToNumber(lat)"
                                        [longitude]="ConvertStringToNumber(long)"
                                        [zoom]="17"
                                        [styles]="mapStyles"
                                        (mapClick)="mapClicked($event)">
                                        <agm-marker
                                            [latitude]="ConvertStringToNumber(bar.latitude)"
                                            [longitude]="ConvertStringToNumber(bar.longitude)">
                                            <agm-info-window>
                                                <strong>{{bar.name}}</strong>
                                                <br>
                                            </agm-info-window>
                                        </agm-marker>
                                    </agm-map>
                                </div>
                            </div>
                            <div class="row">
                                <button type="button" (click)="resetPosition()" class="btn btn-warning waves-light" mdbRippleRadius>Réinitaliser</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title"><i class="fa fa-bar"></i>Données</h4>
                        </div>
                        <div class="card-content table-responsive">
                            <div class="row">
                                <div class="md-form col-md-12">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input mdbActive type="text" id="name" name="name" class="form-control" [(ngModel)]="bar.name" #name="ngModel" mdbActive />
                                    <label for="name" [class.active]="name.value">Nom</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <i class="fa fa-home prefix"></i>
                                    <input mdbActive type="text" id="houseNumber" name="houseNumber" class="form-control" [(ngModel)]="bar.houseNumber" #houseNumber="ngModel" mdbActive />
                                    <label for="houseNumber" [class.active]="houseNumber.value">Numéro de rue</label>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-home prefix"></i>
                                    <input mdbActive type="text" id="street" name="street" class="form-control" [(ngModel)]="bar.street" #street="ngModel" mdbActive />
                                    <label for="street" [class.active]="street.value">Nom de rue</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <i class="fa fa-home prefix"></i>
                                    <input mdbActive type="text" id="postCode" name="postCode" class="form-control" [(ngModel)]="bar.postCode" #postCode="ngModel" mdbActive />
                                    <label for="postCode" [class.active]="postCode.value">Code Postal</label>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-home prefix"></i>
                                    <input mdbActive type="text" id="city" name="city" class="form-control" [(ngModel)]="bar.city" #city="ngModel" mdbActive />
                                    <label for="city" [class.active]="city.value">Ville</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-md-12">
                                    <i class="fa fa-home prefix"></i>
                                    <input mdbActive type="text" id="country" name="country" class="form-control" [(ngModel)]="bar.country" #country="ngModel" mdbActive />
                                    <label for="country" [class.active]="country.value">Pays</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <i class="fa fa-envelope prefix"></i>
                                    <input mdbActive type="email" id="email" name="email" class="form-control" [(ngModel)]="bar.email" #email="ngModel" mdbActive />
                                    <label for="email" [class.active]="email.value">Email</label>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-phone prefix"></i>
                                    <input mdbActive type="phone" id="phoneNumber" name="phoneNumber" class="form-control" [(ngModel)]="bar.phoneNumber" #phoneNumber="ngModel" mdbActive />
                                    <label for="phoneNumber" [class.active]="phoneNumber.value">Numéro de téléphone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-md-12">
                                    <i class="fa fa-facebook-official prefix"></i>
                                    <input mdbActive type="url" id="facebookPage" name="facebookPage" class="form-control" [(ngModel)]="bar.facebookPage" #facebookPage="ngModel" mdbActive />
                                    <label for="facebookPage" [class.active]="facebookPage.value">Page Facebook</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="md-form col-md-12">
                                    <i class="material-icons prefix">language</i>
                                    <input mdbActive type="url" id="websiteUrl" name="websiteUrl" class="form-control" [(ngModel)]="bar.websiteUrl" #websiteUrl="ngModel" mdbActive />
                                    <label for="websiteUrl" [class.active]="websiteUrl.value">Site web</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <button *ngIf="showModalsButton && !bar.validated" type="button" title="Modifier les Horaires" class="btn btn-info  waves-light" (click)="barOpeningTime.showPropositionModal(bar.id, true)" mdbRippleRadius>
                                            Horaires
                                        </button>
                                        <button *ngIf="showModalsButton && !bar.validated" type="button" title="Modifier les Happy Hours" class="btn btn-info waves-light" (click)="barHappyHours.showPropositionModal(bar.id, true)" mdbRippleRadius>
                                            Happy Hours
                                        </button>
                                    </div>
                                    <span class="pull-right">
                                        <button [disabled]="!barForm.valid" class="btn btn-primary waves-light" mdbRippleRadius>Enregistrer</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<barOpeningTimeModal #barOpeningTime (parentEvent)="ngOnInit()"></barOpeningTimeModal>
<barHappyHoursModal #barHappyHours (parentEvent)="ngOnInit()"></barHappyHoursModal>
