<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar BarezVousColor">

    <!-- Navbar brand -->
    <logo>
        <img [routerLink]="['/']" src='../../../assets/img/LogoBarezVous.png' width="50" height="50">
        <a class="navbar-brand" href="#">Bar'ez-Vous!</a>
    </logo>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/']">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['listeBar']">Liste des bars</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link waves-light" mdbRippleRadius (click)="addBar()">Ajouter un bar</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="!currentUser">
                <a class="nav-link waves-light" mdbRippleRadius (click)="loginModal.showModal()">Connexion</a>
            </li>
            <li class="nav-item" *ngIf="!currentUser">
                <a class="nav-link waves-light" mdbRippleRadius (click)="registerModal.showModal()">Inscription</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['admin']">Administration</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['updateProfil']">Mon Profil</a>
            </li>
            <li class="nav-item" *ngIf="currentUser">
                <a class="nav-link waves-light" mdbRippleRadius (click)="logout()">Deconnexion</a>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<loginModal #loginModal (parentEvent)="ngOnInit()"></loginModal>
<registerModal #registerModal></registerModal>