<div class="container" *ngIf="user">
      <div class="card">
        <h4 class="card-header bg-dark text-white">
            <div class="image float-left user-l">
              <img src="http://31.media.tumblr.com/tumblr_lw2lhqjrel1qfmi03o9_r1_500.gif" class="img-thumbnail" alt="avatar"/>
            </div>
            <span *ngIf="user.useRealName">{{user.lastName}} {{user.firstName}}</span>
            <span *ngIf="!user.useRealName">{{user.username}}</span>
            <div class="float-right small">
              <a class="btn btn-raised btn-danger" href="#" title="Ver perfil de Miguel92" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                </a>
                <a class="btn btn-raised btn-danger" href="#" title="Enviar mensaje">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <a class="btn btn-raised btn-danger" href="#" title="Seguir usuario">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
            </div>
        </h4>
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam facilis qui maiores quaerat perspiciatis? Non alias a iste similique ab nesciunt cum ad tempore. Architecto dolore est explicabo deleniti porro.</p>
        </div>
      </div>
</div>
