<!--*****************************************************************************************************************
 RED WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>A la recherche d'un bar ? Envie d'organiser un barathon ? Nous sommes là.</h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /blue -->


<!-- *****************************************************************************************************************
 Image entete acceuil
 ***************************************************************************************************************** -->

<div id="acceuilwrap"></div>

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-map-signs"></i>
                <h4>Trouver un bar</h4>
                <p>Vous avez soif. On le sent jusqu’ici. Que diriez-vous que l’on vous aide à trouver un bar ? Nous avons forcément
                    ce qu’il vous faut ! N’hésitez pas à faire un tour sur la page liste des bars, c’est cadeau !</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-map-marker"></i>
                <h4>Organiser un barathon</h4>
                <p>Trouver un bar ne vous suffit plus . Vous en avez marre de l’éternel « circulez il n’y a rien à boire » .
                    Il vous en faut plus. Je vois, vous êtes un dur à cuire. Votre soif ne peut s’étancher qu’à travers un
                    Barathon et nous pouvons vous aider !</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-users"></i>
                <h4>Discutez autour d'un verre</h4>
                <p>À tout moment vous pouvez laisser votre avis sur un bar, ou lire ceux des autres personnes qui s'y sont aventurées
                    avant vous. N'avancez plus a l'aveugle, nous serons votre guide !</p>
            </div>
        </div>
    </div>
    <! --/container -->
</div>
<! --/service -->

<!-- *****************************************************************************************************************
 TIMELINE
 ***************************************************************************************************************** -->

<div class="main-container">
    <section id="timeline" class="timeline-outer">
        <div class="container" id="content">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h1 class="red-text lighten-1 header">On en est où ? </h1>
                    <ul class="timeline">
                        <li class="event" data-date="15/07/2018">
                            <h3>Le dîner est servi
                            </h3>
                            <p>
                                Bar'ez-Vous! est prêt pour son premier pas dans le monde réel, l'application est prête et le site aussi. C'est le moment
                                de montrer au monde le fruit de notre travail !
                            </p>
                        </li>
                        <li class="event" data-date="23/05/2018">
                            <h3>Aller plus haut ♫
                            </h3>
                            <p>
                                Il vous en faut plus. Chercher un bar c'est une chose, allons plus loin : Organisons un barathon !
                            </p>
                            <p>
                                Ajout de nouvelles fonctionnalités : Barathons, classement des bars par thème.
                            </p>
                            <p>
                                Cette date marque aussi la fin de l'enveloppe scolaire de Bar'ez-Vous! Nous devons voler de nos propres ailes !
                            </p>
                        </li>
                        <li class="event" data-date="14/03/2018">
                            <h3>IL EST VIVANT !
                            </h3>
                            <p>
                                Bar'ez-Vous! est là. Le projet est assez mature pour qu'une première démo soit envisageable.
                            </p>
                            <p>
                                Les premières fonctionnalités sont là : la partie administration est en place, la recherche des bars est fonctionnelle, un
                                utilisateur peut naviguer, s’inscrire et se connecter. Mais il peut aussi donner son avis
                                sur un bar, ainsi qu’une note.
                            </p>
                            <p>
                                De plus, l'application mobile est aussi prête pour sa première démo.
                            </p>
                        </li>
                        <li class="event" data-date="03/12/2017">
                            <h3>Ca va le faire !
                                <i class="fas fa-check"></i>
                            </h3>
                            <p>
                                Les idées c’est une chose. Mais est-ce que le projet est viable ? Une étude sur tout un paquet de paramètre est lancée. </p>
                            <p>
                                Les objectifs sont-ils atteignables ? Les contraintes sont-elles viables ? Le budget est-il raisonnable ? Le projet n’est-il
                                pas trop risqué ?
                            </p>
                            <p>
                                Il en ressort que Bar’ez-Vous! doit aller plus loin, viser plus haut. Le cadre scolaire ne nous suffit plus. Nous envisageons
                                de pousser le projet plus loin.
                            </p>
                        </li>
                        <li class="event" data-date="06/09/2017">
                            <h3>Parlons de choses serieuses
                                <i class="fas fa-check"></i>
                            </h3>
                            <p>
                                Les idées fusent, mais il nous en faut plus pour arriver à nos objectifs. C’est à partir de ce moment que nous commençons
                                à imaginer une application et un site WEB, un objectif concret qui servira de base à la suite
                                du projet.
                            </p>
                            <p>
                                Nous posons donc les spécifications fonctionnelles mais nous commençons aussi à chercher une solution technique.
                            </p>
                        </li>
                        <li class="event" data-date="10/03/2017">
                            <h3>C'est parti !
                                <i class="fas fa-check"></i>
                            </h3>
                            <p>
                                La machine est lancée, l’idée est devenue un projet. Nous avons un contexte et des objectifs.
                            </p>
                            <p>
                                L’expression du besoin est posée, et nous commençons à nous organiser pour la gestion de projet.
                            </p>
                        </li>
                        <li class="event" data-date="06/12/2016">
                            <h3>La base !
                                <i class="fas fa-check"></i>
                            </h3>
                            <p>
                                L'idée de d'une application pour trouver des bars germe dans la tete de 2 étudiants. Pourquoi ne pas ajouter des barathons
                                ? Et des notes ? Et tout un paquet de fonctionnalités ?
                            </p>
                            <p>
                                Le concept est là. Ça tombe bien, nous avons un projet à présenter dans le cadre scolaire de notre diplôme, pourquoi pas
                                celui-là ?
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br/>
</div>