@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

  * {
    margin: 0;
    padding: 0px;
  }

body {
  background: #ffffff;
  margin: 0;
  height: 100%;
  color: #384452;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

p {
  padding: 0;
  margin-bottom: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #384452;
  margin-top: 10px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}
::selection {
  color: #fff;
  text-shadow:none;
  background:#2B2E31;
}

.centered {
  text-align: center
}

.btn-theme {
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #ff4f52;
  border-color: #ff4f52;
}

.dmbutton:hover,
.dmbutton:active,
.dmbutton:focus{
  color: #ffffff;
  background-color: #222222;
  border-color: #ffffff;
}
.dmbutton {
  background:rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding-top: 1.025rem;
  padding-right: 2.25rem;
  letter-spacing:0.85px;
  padding-bottom: 1.0875rem;
  padding-left: 2.25rem;
  font-size: 1.55rem;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  -webkit-appearance: none;
  font-weight: normal !important;
}

.mtb {
  margin-top: 80px;
  margin-bottom: 80px;
}

.mb {
  margin-bottom: 60px;
}

.mt {
  margin-top: 60px;
}

.hline {
  border-bottom: 2px solid #384452;
}

.hline-w {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 25px;
}
/*  ################################################################
  SITE WRAPS
################################################################# */

#headerwrap {
  background-color: #ff4f52;
  min-height: 550px;
  padding-top: 100px;
  padding-bottom: 0px;
  text-align: center;
}

#headerwrap h3, h5 {
  color: white;
  font-weight: 400;
}

#headerwrap h1 {
  color: white;
  margin-bottom: 25px;
}

#headerwrap .img-responsive {
  margin: 0 auto;
  -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

/* Services Wrap */
#service {
  margin-top: 100px;
  margin-bottom: 80px;
}

#service i {
  color: #ff4f52;
  font-size: 60px;
  padding: 15px;
}

/* Portfolio Wrap */
#portfoliowrap {
  padding-top: 60px;
  margin-bottom: 60px;
  display: block;
  text-align: center
}

#portfoliowrap h3 {
  margin-bottom: 25px;
}

.portfolio {
  padding:0 !important;
  margin:0 !important;
  display:block;
}


.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:16px; text-transform:uppercase;}


.tpl6 h3
{
  color:#fff;
  margin:0;
  padding:40px 5px 0;
  font-size:16px;
  text-transform:uppercase;
}
.tpl6 .dmbutton
{
  display:inline-block;
  margin:30px 5px 20px 5px;
  font-size:13px;
}

.tpl6 .bg
{
  height:100%;
  width:100%;
  background-color:#ff4f52;
  background-color:rgba(0,179,254,.9);
  text-align:center;
}

/* Testimonials Wrap */
#twrap {
  margin-top: 0px;
  padding-top:60px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 450px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#twrap i {
  font-size: 50px;
  color: white;
  margin-bottom: 25px;
}

#twrap p {
  color: white;
  font-size: 15px;
  line-height: 30px;
}

/* clients logo */
#cwrap {
  background: #f7f7f7;
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 100px;
}

#cwrap h3 {
  margin-bottom: 60px;
}

/* Footer */
#footerwrap {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #384452;
}

#footerwrap p {
  color: #bfc9d3;
}

#footerwrap h4 {
  color: white;
}

#footerwrap i {
  font-size: 30px;
  color: #bfc9d3;
  padding-right: 25px;
}

#footerwrap i:hover {
  color: #ff4f52
}

/*  ################################################################
  PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
  background: #ff4f52;
  margin-bottom: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#blue h3 {
  color: white;
  margin-left: 15px;
}

.ctitle {
  color: #ff4f52;
  font-weight: 700;
  margin-bottom: 15px;
}

csmall {
  font-size: 12px;
  color: #b3b3b3;
}
csmall2 {
  font-size: 12px;
  color: #f39c12
}

.spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}

.badge-theme {
  background: #ff4f52;
}

/* Acceuil */
#acceuilwrap {
  background: url(../../../assets/img/entete-acceuil.jpg) no-repeat center top;
  margin-top: -60px;
  padding-top:0px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Contact Page */
#contactwrap {
  margin-top: -60px;
  padding-top:0px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 400px;
  width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Blog Page */
.popular-posts {
  margin: 0px;
  padding-left: 0px;
  }

.popular-posts li {
  list-style: none;
  margin-bottom: 20px;
  min-height: 70px;
}
.popular-posts li a,
.popular-posts li a:hover {
  color:#2f2f2f;
  text-decoration: none;
  }

.popular-posts li img {
  float: left;
  margin-right: 20px;
  }

.popular-posts li em {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #b3b3b3
  }

.popular-posts p {
  line-height: normal;
  margin-bottom: auto;
}

.share i {
  padding-right: 15px;
  font-size: 18px;
}

/* Dropdown login */

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


/*——————————————
TimeLine CSS
———————————————*/
/* Base */

#content {
  margin-top: 50px;
  text-align: center;
}

section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}
/* Timeline */

.timeline {
  border-left: 8px solid #ff4f52;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #333;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
  font-size: 1.4em;
}

.timeline .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -177.5px;
  color: #212121;
  content: attr(data-date);
  text-align: right;
  /*  font-weight: 100;*/
  
  font-size: 16px;
  min-width: 120px;
}

.timeline .event:after {
  box-shadow: 0 0 0 8px #ff4f52;
  left: -30px;
  background: #212121;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
/**/
/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline .event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }
  .timeline .event:nth-child(1)::before,
  .timeline .event:nth-child(3)::before,
  .timeline .event:nth-child(5)::before {
    top: 38px;
  }
  .timeline h3 {
    font-size: 16px;
  }
  .timeline p {
    padding-top: 20px;
  }
}
/*——————————————
others
———————————————*/

a.portfolio-link {
  margin: 0 auto;
  display: block;
  text-align: center;
}