<!--Modal: bar Form-->
<div *ngIf="isModalShown" [config]="{ show: true }" mdbModal (onHidden)="onHidden()" #BarOpeningTimeModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form *ngIf="isNewProposition" (ngSubmit)="barForm.form.valid && saveProposition()" #barForm="ngForm" [formGroup]="horairesForm" novalidate>
        <div *ngIf="bar" class="modal-dialog modal-lg" role="dialog">
            <!--Content-->
            <div class="modal-content">
                <div class="modal-header red darken-3 white-text">
                    <h4 class="title"><i class="fa fa-bar"></i>Modifier les horaires du bar {{bar.name}}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body container-fluid">
                    <div formArrayName="rows">
                        <div *ngFor="let row of horairesForm.controls.rows.controls; let i=index"  [formGroupName]="i">
                            <div class="row">
                                <div class="btn-group">
                                    <label class="btn btn-default waves-light" formControlName="mon" name="mon" mdbCheckbox mdbRippleRadius>
                                        Lundi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="tue" name="tue" mdbCheckbox mdbRippleRadius>
                                        Mardi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="wed" name="wed" mdbCheckbox mdbRippleRadius>
                                        Mercredi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="thu" name="thu" mdbCheckbox mdbRippleRadius>
                                        Jeudi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="fri" name="fri" mdbCheckbox mdbRippleRadius>
                                        Vendredi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="sat" name="sat" mdbCheckbox mdbRippleRadius>
                                        Samedi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="sun" name="sun" mdbCheckbox mdbRippleRadius>
                                        Dimanche
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <i class="fa fa-clock-o prefix"></i>
                                    <input type="time" id="opening_time" name="opening_time" class="form-control" formControlName="opening_time"/>
                                    <label class="active" for="opening_time">Heure d'ouverture</label>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-clock-o prefix"></i>
                                    <input type="time" id="closing_time" name="closing_time" class="form-control"  formControlName="closing_time"/>
                                    <label class="active" for="closing_time">Heure de fermeture</label>
                                </div>
                            </div>
                            <button *ngIf="horairesForm.controls.rows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Supprimer ces horaires</button>
                        </div>
                    </div>
                    <button type="button" (click)="addNewRow()" class="btn btn-primary">Ajouter plus d'horaires</button><br>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info ml-auto" data-dismiss="modal" (click)="hideModal()" mdbRippleRadius>Fermer</button>
                    </div>
                    <div class="col-md-6" *ngIf="!bar.validated">
                        <span class="pull-right">
                        <button [disabled]="loading || !barForm.valid" class="btn btn-primary waves-light" mdbRippleRadius>Enregistrer</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </span>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </form>
    <form *ngIf="!isNewProposition" (ngSubmit)="barForm.form.valid && saveBar()" #barForm="ngForm" [formGroup]="horairesForm" novalidate>
        <div *ngIf="bar" class="modal-dialog modal-lg" role="dialog">
            <!--Content-->
            <div class="modal-content">
                <div class="modal-header red darken-3 white-text">
                    <h4 class="title"><i class="fa fa-bar"></i>Modifier les horaires du bar {{bar.name}}</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body container-fluid">
                    <div formArrayName="rows">
                        <div *ngFor="let row of horairesForm.controls.rows.controls; let i=index"  [formGroupName]="i">
                            <div class="row">
                                <div class="btn-group">
                                    <label class="btn btn-default waves-light" formControlName="mon" name="mon" mdbCheckbox mdbRippleRadius>
                                        Lundi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="tue" name="tue" mdbCheckbox mdbRippleRadius>
                                        Mardi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="wed" name="wed" mdbCheckbox mdbRippleRadius>
                                        Mercredi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="thu" name="thu" mdbCheckbox mdbRippleRadius>
                                        Jeudi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="fri" name="fri" mdbCheckbox mdbRippleRadius>
                                        Vendredi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="sat" name="sat" mdbCheckbox mdbRippleRadius>
                                        Samedi
                                    </label>
                                    <label class="btn btn-default waves-light" formControlName="sun" name="sun" mdbCheckbox mdbRippleRadius>
                                        Dimanche
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="md-form col-md-6">
                                    <i class="fa fa-clock-o prefix"></i>
                                    <input type="time" id="opening_time" name="opening_time" class="form-control" formControlName="opening_time"/>
                                    <label class="active" for="opening_time">Heure d'ouverture</label>
                                </div>
                                <div class="md-form col-md-6">
                                    <i class="fa fa-clock-o prefix"></i>
                                    <input type="time" id="closing_time" name="closing_time" class="form-control"  formControlName="closing_time"/>
                                    <label class="active" for="closing_time">Heure de fermeture</label>
                                </div>
                            </div>
                            <button *ngIf="horairesForm.controls.rows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Supprimer ces horaires</button>
                        </div>
                    </div>
                    <button type="button" (click)="addNewRow()" class="btn btn-primary">Ajouter plus d'horaires</button><br>
                </div>
                <div class="modal-footer">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info ml-auto" data-dismiss="modal" (click)="hideModal()" mdbRippleRadius>Fermer</button>
                    </div>
                    <div class="col-md-6" *ngIf="!bar.validated">
                        <span class="pull-right">
                        <button [disabled]="loading || !barForm.valid" class="btn btn-primary waves-light" mdbRippleRadius>Enregistrer</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </span>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </form>
</div>
