<div class="container main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">local_bar</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Nombre de bars</p>
                        <h3 class="title">{{nbBar}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Depuis le début
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">people</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Nombre d'utilisateurs</p>
                        <h3 class="title">{{nbUser}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Depuis le début
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" >
                    <div class="card-header" data-background-color="blue">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="card-content">
                        <p class="category">Nombre de connectés</p>
                        <h3 class="title">{{nbConnectWeek}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Cette semaine
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
