/* You can add global styles to this file, and also import other style files */
.BarezVousColor {
    background-color: #ff4f52 !important;
}

.container {
  max-width: 1500px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@import 'node_modules/angular2-toaster/toaster';
i.icon-red {
    color: red;
}

i.icon-green {
    color: green;
}
