<div class="container main-content" *ngIf="bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Carte des information -->
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">{{bar?.name}}</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <div class="row">
                            <div class="col-md-10">
                                Numéro de télephone : {{bar?.phoneNumber}}
                                <br> Mail : {{bar?.email}}
                                <br> Adresse : {{bar?.houseNumber}} {{bar?.street}}
                                <br> Ville : {{bar?.city}} ({{bar?.postCode}})
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <!-- Bouton lien vers google maps -->
                                    <div *ngIf="bar?.latitude && bar?.longitude">
                                        <a href="https://www.google.com/maps/search/?api=1&query={{bar?.latitude}},{{bar?.longitude}}" target="_blank"><i class="fas fa-map-marker fa-3x"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Bouton lien site du bar si renseigné -->
                                    <div *ngIf="bar?.websiteUrl">
                                        <a href="{{bar?.websiteUrl}}"><i class="fas fa-link fa-3x"></i></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Bouton lien facebook du bar si renseigné -->
                                    <div *ngIf="bar?.facebookPage">
                                            <a href="{{bar?.facebookPage}}"><i class="fab fa-facebook fa-3x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Note globale du bar en etoiles-->
                        <div class="row" *ngIf="bar.note">
                            <div class="stars">
                                <input class="star star-5" id="star-moy-5" type="radio" name="star-moy" [checked]="bar.note == 5" disabled />
                                <label class="star star-5" for="star-moy-5"></label>
                                <input class="star star-4" id="star-moy-4" type="radio" name="star-moy" [checked]="4 <= bar.note && bar.note < 5" disabled/>
                                <label class="star star-4" for="star-moy-4"></label>
                                <input class="star star-3" id="star-moy-3" type="radio" name="star-moy" [checked]="3 <= bar.note && bar.note < 4" disabled/>
                                <label class="star star-3" for="star-moy-3"></label>
                                <input class="star star-2" id="star-moy-2" type="radio" name="star-moy" [checked]="2 <= bar.note && bar.note < 3" disabled/>
                                <label class="star star-2" for="star-moy-2"></label>
                                <input class="star star-1" id="star-moy-1" type="radio" name="star-moy" [checked]="bar.note <= 2" disabled/>
                                <label class="star star-1" for="star-moy-1"></label>
                            </div>
                            <!-- Note globale du bar en chiffre-->
                            <span class="starlabel">({{bar?.note}})</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Carte de la map -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Carte</h4>
                    </div>
                    <div class="card-content table-responsive" *ngIf="bar">
                        <!-- Maps avec Street view avec comme centre la position du bar -->
                        <agm-map [latitude]="ConvertStringToNumber(bar?.latitude)" [longitude]="ConvertStringToNumber(bar?.longitude)" [zoom]="17">
                            <!-- Pointeur sur le bar -->
                            <agm-marker [iconUrl]="iconMapBV" [latitude]="ConvertStringToNumber(bar?.latitude)" [longitude]="ConvertStringToNumber(bar?.longitude)">
                            </agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>




        <!-- Cartes des horaires et happy hour -->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">
                            Horaires
                            <button type="button" title="Modifier les Horaires" class="btn btn-info waves-light" (click)="barOpeningTime.showPropositionModal(bar.id, false)" mdbRippleRadius>
                                Proposer Horaires
                            </button>
                        </h4>
                    </div>
                    <div class="card-content table-responsive">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table" *ngIf="bar?.openingTimes">
                                    <thead>
                                        <tr>
                                            <th>
                                                Jour
                                            </th>
                                            <th>
                                                Ouverture
                                            </th>
                                            <th>
                                                Fermeture
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bar of bar.openingTimes">
                                            <td>
                                                {{mapJour.get(bar.day)}}
                                            </td>
                                            <td>
                                                {{bar.opening_time}}
                                            </td>
                                            <td>
                                                {{bar.closing_time}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">
                            Happy Hours
                            <button type="button" title="Modifier les Happy Hours" class="btn btn-info waves-light" (click)="barHappyHours.showPropositionModal(bar.id, false)" mdbRippleRadius>
                                Proposer Happy Hours
                            </button>
                        </h4>
                    </div>
                    <div class="card-content table-responsive">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table" *ngIf="bar?.happyHours">
                                    <thead>
                                        <tr>
                                            <th>
                                                Jour
                                            </th>
                                            <th>
                                                Début
                                            </th>
                                            <th>
                                                Fin
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bar of bar.happyHours">
                                            <td>
                                                {{mapJour.get(bar.day)}}
                                            </td>
                                            <td>
                                                {{bar.start_time}}
                                            </td>
                                            <td>
                                                {{bar.end_time}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Carte des commentaires -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Commentaires</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <!-- poster un avis -->
                        <div class="card" *ngIf="currentUser">
                            <div class="card-content">
                                <div class="card-header-red">
                                    <h4 class="card-heading">
                                        Vous voulez donner votre avis sur ce bar ? (255 caractères maximum)
                                    </h4>
                                </div>
                                <!-- Commentaire -->
                                <textarea class="form-control" type="text" rows="4" #commentaire="ngModel" [(ngModel)]="model.commentaire"></textarea>
                                <!-- Note -->
                                <div class="stars">
                                    <input class="star star-5" id="star-5" type="radio" name="star" (click)="changeStar(5)" />
                                    <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" type="radio" name="star" (click)="changeStar(4)" />
                                    <label class="star star-4" for="star-4"></label>
                                    <input class="star star-3" id="star-3" type="radio" name="star" (click)="changeStar(3)" />
                                    <label class="star star-3" for="star-3"></label>
                                    <input class="star star-2" id="star-2" type="radio" name="star" (click)="changeStar(2)" />
                                    <label class="star star-2" for="star-2"></label>
                                    <input class="star star-1" id="star-1" type="radio" name="star" (click)="changeStar(1)" />
                                    <label class="star star-1" for="star-1"></label>
                                </div>
                                <!-- Envoie Formulaire -->
                                <div class="form-group text-center">
                                    <button class="btn btn-lg green" (click)="postReview()">Envoie</button>
                                </div>
                            </div>
                        </div>

                        <!-- Liste des commentaires avec notes -->
                        <div class="card">
                            <div class="media comment-box" *ngFor="let commentaire of barComments">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a routerLink="../../profile/{{commentaire.id_user}}">{{commentaire.user_name}}</a>
                                    </h4>
                                    <p>
                                        {{commentaire.date_posted}}
                                    </p>
                                    <p>
                                        {{commentaire.commentaire}}
                                    </p>
                                    <div>
                                        <input class="star star-5" id="star-comment-{{commentaire.id}}-5" type="radio" name="star-comment-{{commentaire.id}}" [checked]="commentaire.note == 5"
                                            disabled />
                                        <label class="star star-5" for="star-comment-{{commentaire.id}}-5"></label>
                                        <input class="star star-4" id="star-comment-{{commentaire.id}}-4" type="radio" name="star-comment-{{commentaire.id}}" [checked]="4 <= commentaire.note && commentaire.note < 5"
                                            disabled/>
                                        <label class="star star-4" for="star-comment-{{commentaire.id}}-4"></label>
                                        <input class="star star-3" id="star-comment-{{commentaire.id}}-3" type="radio" name="star-comment-{{commentaire.id}}" [checked]="3 <= commentaire.note && commentaire.note < 4"
                                            disabled/>
                                        <label class="star star-3" for="star-comment-{{commentaire.id}}-3"></label>
                                        <input class="star star-2" id="star-comment-{{commentaire.id}}-2" type="radio" name="star-comment-{{commentaire.id}}" [checked]="2 <= commentaire.note && commentaire.note < 3"
                                            disabled/>
                                        <label class="star star-2" for="star-comment-{{commentaire.id}}-2"></label>
                                        <input class="star star-1" id="star-comment-{{commentaire.id}}-1" type="radio" name="star-comment-{{commentaire.id}}" [checked]="commentaire.note <= 2"
                                            disabled/>
                                        <label class="star star-1" for="star-comment-{{commentaire.id}}-1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<barOpeningTimeModal #barOpeningTime (parentEvent)="ngOnInit()"></barOpeningTimeModal>
<barHappyHoursModal #barHappyHours (parentEvent)="ngOnInit()"></barHappyHoursModal>


