<!--Modal: Register Form-->
<div *ngIf="isModalShown" [config]="{ show: true }" mdbModal (onHidden)="onHidden()" #RegisterModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <form #registerForm="ngForm" novalidate (ngSubmit)="register()">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header red darken-3 white-text">
                    <h4 class="title"><i class="fa fa-user-plus"></i> Inscription</h4>
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body container-fluid">
                    <div class="row">
											<div class="md-form col-md-6">
                          <i class="fa fa-user prefix"></i>
                          <input #firstName mdbActive setLabelActive id="firstName" type="text" name="firstName" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel" [required]="!model.username ? true : false" />
                          <label for="firstName" [class.active]="firstName.value">Prénom</label>
                      </div>
                      <div class="md-form col-md-6">
                          <i class="fa fa-user prefix"></i>
                          <input #lastName mdbActive id="lastName" type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [required]="!model.username ? true : false" />
                          <label for="lastName" [class.active]="lastName.value">Nom</label>
                      </div>
                    </div>
                    <div class="row">
	                    <div class="md-form col-md-12">
	                        <i class="fa fa-user prefix"></i>
	                        <input #username mdbActive setLabelActive id="username" type="text" name="username" class="form-control" [(ngModel)]="model.username" #username="ngModel" [required]="!(model.firstName && model.lastName) ? true : false" />
	                        <label for="username" [class.active]="username.value">Nom d'utilisateur</label>
	                    </div>
										</div>
                    <div class="row">
	                    <div class="md-form col-md-12">
	                        <i class="fa fa-envelope prefix"></i>
	                        <input #email mdbActive setLabelActive id="email" type="email" name="email" class="form-control" [(ngModel)]="model.email" required #email="ngModel" />
	                        <label for="email" [class.active]="email.value">Adresse e-mail</label>
	                    </div>
										</div>
                    <div class="row">
	                    <div class="md-form col-md-12">
	                        <i class="fa fa-envelope prefix"></i>
	                        <input #email_confirmation mdbActive setLabelActive id="email_confirmation" type="email" class="form-control" name="email_confirmation" [(ngModel)]="model.email_confirmation" required validateEqual="email" #email_confirmation="ngModel">
	                        <label for="email_confirmation" [class.active]="email_confirmation.value">Confirmer l'adresse e-mail</label>
	                    </div>
                    </div>
										<div class="row">
	                    <div class="md-form col-md-12">
	                        <i class="fa fa-lock prefix"></i>
	                        <input #password mdbActive setLabelActive id="password" type="password" name="password" class="form-control" [(ngModel)]="model.password" required #password="ngModel">
	                        <label for="password" [class.active]="password.value">Mot de passe</label>
	                    </div>
                    </div>
                    <div class="row">
	                  	<div class="md-form col-md-12">
	                        <i class="fa fa-lock prefix"></i>
	                        <input #password_confirmation mdbActive setLabelActive id="password_confirmation" type="password" class="form-control" name="password_confirmation" [(ngModel)]="model.password_confirmation" required validateEqual="password" #password_confirmation="ngModel">
	                        <label for="password_confirmation" [class.active]="password_confirmation.value">Confirmer le mot de passe</label>
	                    </div>
										</div>
                    <div class="text-center mt-2">
                        <button [disabled]="loading || !registerForm.valid" class="btn btn-primary waves-light" mdbRippleRadius>S'enregistrer <i class="fa fa-sign-in ml-1"></i></button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <!--<div class="options text-center text-md-right mt-1">
                        <p>Already have an account? <a (click)="loginModal.showModal()">Se connecter</a></p>
                    </div>-->
                    <button type="button" class="btn btn-outline-info" data-dismiss="modal" (click)="hideModal()" mdbRippleRadius>Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </form>
</div>
<!--Modal: Register Form-->
